$textColor: hsl(231, 42%, 28%);
$btnColor: hsl(230, 34%, 46%);
$btnOnHoverColor: hsl(230, 34%, 40%);
$btnTextColor: hsl(220, 43%, 97%);
$correctOptionColor: hsl(133, 46%, 71%);
$wrongOptionColor: hsl(0, 81%, 85%);
$fontHeader: 32px;
$fontNormal: 16px;
$fontSmall: 12px;
$fontVSmall: 10px;
$fontBold: 700;
$fontSemiBold: 600;
$fontNormal: 500;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Karla', sans-serif;
}

.blob {
    position: absolute;
}

.blob_yellow {
    top: 0;
    right: 0;
}

.blob_blue {
    bottom: 0;
    left: 0;
}

.app {
    text-align: center;
    color: $textColor;

    h1 {
        font-size: $fontHeader;
        font-weight: $fontBold;
    }

    .sub {
        margin-top: 7px;
        font-size: $fontNormal;
    }

    .btn {
        width: 190px;
        height: 50px;
        margin-top: 40px;
        background-color: $btnColor;
        color: $btnTextColor;
        border: none;
        border-radius: 15px;
        transition: background-color 300ms ease-out;
        cursor: pointer;
        font-size: $fontNormal;
        
        &:hover {
            background-color: $btnOnHoverColor;
        }
    }

}