@import './variables.scss';

.quiz-container {
    padding: 2rem;
}

.quiz-element {
    margin: 20px auto;
    padding: 20px;
    justify-self: start;
}
.question {
    font-size: $fontLarge;
    font-weight: $fontBold;
    text-align: start;
}

.options {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2.5rem;
}

.option-btn {
    display: inline-block;
    border: 2px solid $btnColor;
    border-radius: 20px;
    font-size: $fontNormal;
    padding: 7.5px 15px;
    font-weight: $fontSemiBold;
    color: $textColor;
    cursor: pointer;
    background-color: $btnTextColor;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    text-align: start;
}

.option-btn.selected {
    background-color: $optionSelectedBgColor;
    border: 2px solid $optionSelectedBgColor;
    transition: all 300ms ease-out;
}

.option-btn.not-allowed {
    cursor: not-allowed;
    opacity: 0.5;
}

.input-radio {
    display: none;
}

hr {
    margin-top: 15px;
    border: 1px solid $horizontalRuleColor;
    border-radius: 5px;
}

.score-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    column-gap: 20px;
}

.score-section .btn {
    margin: 0 !important;
}

.score {
    font-weight: $fontBold;
}