$textColor: hsl(231, 42%, 28%);
$btnColor: hsl(230, 34%, 46%);
$btnOnHoverColor: hsl(230, 34%, 40%);
$btnTextColor: hsl(223, 47%, 97%);
$optionSelectedBgColor: hsl(230, 61%, 90%);
$correctOptionColor: hsl(133, 46%, 71%);
$wrongOptionColor: hsl(0, 81%, 85%);
$horizontalRuleColor: hsla(231, 42%, 90%, 1);
$fontHeader: 32px;
$fontLarge: 24px;
$fontSizeNormal: 16px;
$fontSmall: 12px;
$fontVSmall: 10px;
$fontBold: 700;
$fontSemiBold: 600;
$fontNormal: 500;